
# TÍTULO 
## Subtítulo
### SubSubtítulo

*itálicas* **negritas**

$ y_i = a + bx_i $

tres al cuadrado $ 3^2 $

Python es un lenguaje de programación orientado a objetos. Quiere decir, que primero se debe crear un objeto y luego se manipula con código.

Un objeto en Python puede ser un número, una letra(s), un vector, una matriz. una función, uma imagen, etc

In [4]:
# como crear un objeto
# nombreObjeto = contenido del objeto 
variable1 = 6

In [5]:
# ver contenido del objeto
# 1 forma anotando nombre objeto
variable1

6

In [7]:
#2 forma print()
print(variable1)

6

In [8]:
#conocer el tipo de variable
type(variable1)

int

In [9]:
variable2 = 6.87

In [10]:
variable2

6.87

In [11]:
type(variable2)

float

In [12]:
mi_inicial = 'K'

In [14]:
print(mi_inicial)

K

In [15]:
type(mi_inicial)

str

In [16]:
#Boleano
boleano1 = True

In [17]:
type(boleano1)

bool

In [18]:
7 > 5

True

In [19]:
7 > 10

False

In [20]:
7 > 5 & 7 > 10

False

In [21]:
5 > 2 or 5 > 6

True

In [22]:
variable1, mi_inicial

(6, 'K')

In [23]:
print(variable1, mi_inicial)

6 K

In [26]:
#Fusión de dos objetos
print('Este es un seis entero:', variable1)

Este es un seis entero: 6

In [29]:
#llamar un objeto dentro de la cadena de caracteres
#La f es para indicar que dentro de la cadena de caracteres vamos a llamar un objeto
print(F'Este es un seis entero : {variable1}')

Este es un seis entero : 6

In [31]:
#variable1 lo haremos decimal
variable1_decimal = float(variable1)

In [32]:
print(variable1_decimal)

6.0

# Listas
Una lista en Python es una colección de objetos (distinto tipo)

NombreLista = [objeto1, objeto2, objeto3, etc]

In [37]:
mi_yo = ['Karla', 'Ley', 21, 7]

In [35]:
type(mi_yo)

list

In [38]:
mi_yo

['Karla', 'Ley', 21, 7]

In [40]:
my_bff = ['Eugenia', 'Itzel', 'Andrea']

In [41]:
edad_bff = [20, 21, 19]